<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <%= image_tag asset_path('placeholder.jpg'), class: "card-img-top" %>
    <div class="card-body">
      <div class="d-flex justify-content-center align-items-center">
        No more dogs!
      </div>
    </div>
  </div>
</div>