<div class="container dogs-container">
  <div class="row">
    <% unless @dogs.empty?  %>
      <%= render partial: 'home/dog', collection: @dogs %>
    <% else %>
      <%= render partial: 'home/no_dog' %>
    <% end %>
  </div>
</div>