// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.full-height {
  min-height: 100vh
}

html, body {
  height: 100vh;
}

.dogs-container {
  justify-content: center;
  height: 100vh;
  .row {
    justify-content: center;
  }
}